@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* defult css start  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#4E4E4E;
    --bg-color:#E6E6E6;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-100{
    flex: 0 0 100%;
    padding: 0 15px;
}

.col-70{
    flex: 0 0 70%;
    padding: 0 15px;
}
.col-50{
    flex: 0 0 50%;
    padding: 0 15px;
}
.col-30{
    flex: 0 0 30%;
    padding: 0 15px;
}

.col-33{
    flex: 0 0 33.33%;
    padding: 0 15px;
}
.col-25{
    flex: 0 0 25%;
    padding: 0 15px;
}

/* defult css end   */

/* header part css start */
.header{
    height: 80px;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{}
.logo img {}
.menu{}
.menu ul{
    text-align: right;
}
.menu ul li{
    display: inline-block;
    padding: 0 15px;
}
.menu ul li a{
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color);
    text-transform: uppercase;
    transition: .5s;
}
.menu ul li a:hover{
    color: #1ABB9C;
}

/* header part css end  */

/* banner  part css start */
.banner{
    background: url(../image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-con{
    text-align: center;
    color: #fff;

}
.banner-con h1{
    font-size: 40px;
}
.banner-con h4{
    font-size: 35px;
    color: #a8a8a8;
    padding-top: 20px;

}
.banner-con a{
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    background: #3F8DBF;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
}
/* banner  part css end  */

/* services part css start  */
.services{
    
}
.services-con {
   padding:60px 0;
   text-align: center;
   
}
.line{
    border-bottom: 2px solid #f1f1f1;
}
.services-con img{
    height: 100%;
    width: 50px;
}
.services-con h4{
    font-size: 18px;
    color: #4e4e4e;
    padding: 10px 0;
}
.services-con p{
    font-size: 15px;
    color: #616161;
}
/* services part css end  */
/* protfolio part css start  */
.protfolio{
    padding: 20px 0;
}
.protfolio-heading {
   
}
.protfolio-heading h2 {
    font-size: 18px;
    color: #4e4e4e;
    padding: 20px 0;
}
.protfolio-con{}
.protfolio-con img{}
.protfolio-con h4{
    font-size: 18px;
    padding: 10px 0;
    font-weight: bold;
}
.protfolio-con span{
    font-size: 14px;
    color: #4e4e4e;
    padding: 8px 0;
    display: inline-block;

}
.protfolio-con p {
    font-size: 14px;
    
}
/* protfolio part css end  */
/* blockquate part css start */
.blockquate{
    background: #EFEFEF;
    padding: 50px 0;
}
.bloukquate-con{
    text-align: center;
}
.bloukquate-con img{}
.bloukquate-con p {
    width: 700px;
    margin: 0 auto;
    padding-top: 10px;
}
/* blockquate part css end */
/* footer part css start */
footer{
    background: #1F1F1F;
    color: #cacaca;
   padding: 30px 0;
}
.footer-con{
   
}
.footer-con h4{
    font-size: 18px;
    color: #6c6c6c;
    padding-bottom: 15px;
}
.footer-con p{
    font-size: 15px;
}
.footer-icon-text{
    display: flex;
    padding-top: 10px;
}
.padding{
    padding-top: 0;
}
.f-icon{}

.f-con {
    padding-left: 15px;
}
.f-con span  {
    font-size: 13px;
}
.f-con-p{
    margin-bottom: 10px;
 
}
.f-con-p p {
 font-size: 15px;
}
.f-con-p span {
 font-size: 12px;
}

.copyright{
    padding: 20px;
}
.pad{
    padding: 0;
    margin-top: 20px;
    border-top: 1px solid #6c6c6c;
    padding-top: 30px;
}

/* footer part css end  */
